* {
    text-decoration: none !important;
}
body {
    background-color: bisque;
}

.navbar {
    background-color: aliceblue;
}

.nav-list {
    text-decoration: none !important;
    list-style: none !important;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    background-color: darkgoldenrod;
    color: black;
    border-radius: 2px;
}

.btn a:visited {
    color: black;
}

.btn:hover {
    background-color: bisque;
    color: black
}

.logo_invertiert {
    width: 300px;
    height: 300px;
}

.entryfield {
    background-color: white;
    height: 600px;
    width: 100%;
}